.typedText {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: var(--bold-text-color);
}

.cursorIcon {
  margin-right: 0.5rem;
  animation: blink 1s infinite;
  color: var(--highlight-color);
}

.blinkingCursor {
  margin-left: 0.2rem;
  animation: blink 1s infinite;
  color: var(--highlight-color);
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
